{%
  set classes = [
    'layout',
    'layout--one-column',
  ]
%}
{% if content %}
  <{{ content['#layout_tag'] }}{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      {% if content.header %}
        <div class="layout__header">
          {{ content.header }}
        </div>
      {% endif %}

      <div class="layout__regions">
        <div {{ region_attributes.content.addClass(['layout__region layout__region--content']) }}>
          {% for item in content.content %}
            {% if item %}
              <div class="layout__region-item">{{ item }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </{{ content['#layout_tag'] }}>
{% endif %}
