{%
  set classes = [
    'layout',
    'layout--three-column',
  ]
%}
{% if content %}
  <{{ content.layout_tag }}{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      {{ content.header }}

      <div class="layout__regions">
        <div {{ region_attributes.first }} class="layout__region layout__region--first">
          {% for item in content.first %}
            {% if item %}
              <div class="layout__region-item">{{ item }}</div>
            {% endif %}
          {% endfor %}
        </div>

        <div {{ region_attributes.second }} class="layout__region layout__region--second">
          {% for item in content.second %}
            {% if item %}
              <div class="layout__region-item">{{ item }}</div>
            {% endif %}
          {% endfor %}
        </div>

        <div {{ region_attributes.third }} class="layout__region layout__region--third">
          {% for item in content.third %}
            {% if item %}
              <div class="layout__region-item">{{ item }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </{{ content.layout_tag }}>
{% endif %}
